.layout-default {
  &__header {
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }

  &__main {
    padding: 20px;
  }

  &__footer {
    background-color: orange;
    text-align: center;
    padding: 10px 20px;
  }
}

.menu {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    li {
      margin-left: 20px;
    }
  }

  &__link {
    color: #000;
    text-decoration: none;

    &--active {
      color: #fff;
    }
  }
}